<h1>Admin Controls!</h1>
<p>{{currentUser.username}} is an admin: {{currentUser.admin}}</p>

<label>Change User options: </label>
<label>Username: 
    <input #username type="text" placeholder="User's username" ><br><br>
    <input #activateInput type="text" placeholder="Activate user? 'true' or 'false'" ><br><br>
    <input #admin type="text" placeholder="Make user admin? 'true' or 'false'" ><br><br>
</label>
<button (click)="changeUser(username.value, activateInput.value, admin.value)">Change!</button>

<label>Change Review "Hidden" option: </label>
<label>Unique Title: 
    <input #reviewTitle type="text" placeholder="Review Title" ><br><br>
    <input #hiddenVal type="text" placeholder="Hide Review? Type 'yes' to hide - defaults to 'no'." ><br><br>
</label>
<button (click)="editReview(reviewTitle.value, hiddenVal.value)">Change!</button>
<br>
<button (click)="getReviews()">See all reviews!</button>
<br>
<ul class="reviews">
    <li *ngFor="let review of reviewsArray">
        <br>Title: {{review.title}}:
        <br>Course: {{review.courseId}}
        <br>Rating: {{review.rating}}
        <br>Comments: {{review.comment}}
        <br>Made by User: {{review.createdBy}}
        <br>Hidden: {{review.hidden}}
        <br>Date Created: {{review.createdAt}}
        <hr>
    </li>
</ul>