<h1>{{title}}</h1>
<nav>
    <a routerLink="/course-list">Search Courses</a>
</nav>
<nav>
    <a routerLink="/schedules">Edit Schedules</a>
</nav>
<nav>
    <a routerLink="/signin">Log In</a>
</nav>
<nav>
    <a routerLink="/signup">Create Account</a>
</nav>
<nav>
    <a routerLink="/reviews">Course Reviews</a>
</nav>
<nav>
    <a routerLink="/admin">Admin Controls</a>
</nav>
<nav>
    <a routerLink="/changePassword">Change Password</a>
</nav>
<nav>
    <a routerLink="/viewPolicies">View our Privacy and Security Policies</a>
</nav>
<nav>
    <a routerLink="/editPolicies">Edit our Privacy and Security Policies</a>
</nav>
<nav>
    <a routerLink="/home-page">Home</a>
</nav>
<router-outlet></router-outlet>