<h2>Schedules</h2>
<p>{{currentUser.username}} is an admin: {{currentUser.admin}}</p>
<br>
<div id="viewSchedules">
    <h3>View Schedules</h3>
    <label>Which Schedule would you like to see: 
        <input #schedule_name type="text" placeholder="name..."/>
        <button (click)="getSchedule(schedule_name.value); schedule_name.value = ''">Display This Schedule</button>
    </label>
    <button (click)="getSchedules()">Display All Schedules</button>
    <br>
    <ul class="schedules">
        <li *ngFor="let schedule of schedules" (click)="ele.class = ele.class == 'showChildren' ? '' :  'showChildren'" [ngClass]="{ hideChildren : ele.class !== 'showChildren' }" #ele>
            <span>{{schedule.name}}: </span> {{ele.ngClass}}
            <div>
                <p *ngFor="let subject of schedule.subject; index as j; first as isFirst">
                    <span class="scheduleList"> {{schedule.subject[j]}} {{schedule.course_code[j]}} - "{{courses[j].className}}" {{courses[j].course_info[0].class_section}} ({{courses[j].course_info[0].ssr_component}})
                        <br>{{courses[j].course_info[0].days}} at {{courses[j].course_info[0].start_time}} - {{courses[j].course_info[0].end_time}}</span>
                </p>
                <br> Description: {{schedule.description}}
                <br> Created By: {{schedule.user}}
            </div>

        </li>
    </ul>

</div>

<h3>Create Schedule</h3>
<div>
    <label>Schedule name:
      <input #scheduleName />
    </label>
    <!-- (click) passes input value to createSchedule() and then clears the input -->
    <label> Public or private schedule?
        <input #publicDef/>
    </label>
    <button (click)="createSchedule(scheduleName.value, publicDef.value); scheduleName.value=''; publicDef.value =''">
      Add
    </button>
</div>

<h3>Delete Schedule</h3>
<div>
    <label>Schedule name:
      <input #delete_schedule_name />
    </label>
    <!-- (click) passes input value to createSchedule() and then clears the input -->
    <button (click)="deleteSchedule(delete_schedule_name.value); delete_schedule_name.value=''">
      Delete This Schedule
    </button>
    <button (click)="deleteAllSchedules()">
        Delete All Schedules
      </button>
</div>

<h3>Update Schedule</h3>
<div>
    <label>Which Schedule: 
        <input #editScheduleName />
    </label>
    <br><br>
    <label>Number of courses: 
        <input #editScheduleNumber type="number"/>
    
    </label>
    <ul class="addCourses">
        <li>
            <input #subjectCode0 placeholder="Subject..." />
            <input #courseCode0 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode1 placeholder="Subject..." />
            <input #courseCode1 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode2 placeholder="Subject..." />
            <input #courseCode2 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode3 placeholder="Subject..." />
            <input #courseCode3 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode4 placeholder="Subject..." />
            <input #courseCode4 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode5 placeholder="Subject..." />
            <input #courseCode5 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode6 placeholder="Subject..." />
            <input #courseCode6 placeholder="Course Code..." />
        </li>
        <li>
            <input #subjectCode7 placeholder="Subject..." />
            <input #courseCode7 placeholder="Course Code..." />
        </li>
        <label> Public or private schedule?
            <input #publicUpdate/>
        </label>
        <label> Description of schedule:
            <input #description/>
        </label>
        <button (click)="updateSchedule(editScheduleName.value, editScheduleNumber.value,
        subjectCode0.value, subjectCode1.value, subjectCode2.value,
        subjectCode3.value, subjectCode4.value, subjectCode5.value,
        subjectCode6.value, subjectCode7.value,
        courseCode0.value, courseCode1.value, courseCode2.value,
        courseCode3.value, courseCode4.value, courseCode5.value,
        courseCode6.value, courseCode7.value, publicUpdate.value,
        description.value)">Confirm</button>
    </ul>
</div>