<h2>Sign Up!</h2>
<form #signupForm="ngForm" (submit)="submitForm(signupForm)">
    <input type="text" name="name" id="name" placeholder="Enter Full Name" required ngModel><br><br>
    <input type="text" name="username" id="username" placeholder="Enter Username" required ngModel><br><br>
    <input type="text" name="email" id="email" placeholder="Enter Email Address" required ngModel><br><br>
    <input type="password" name="password" id="password" placeholder="Enter Password" required ngModel><br><br>
    <button class="signupButton">Create Account</button>
    <hr>
    <button (click)="google()">Sign Up With Google</button>
    <p>Already registered? <a routerLink="/signin">Sign In Here!</a></p>
</form>